html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.debug * {
    outline: 1px dotted lightblue;
}

.commands {
    padding: 12px;
}

/* .headers,
.columns {
    display: flex;
    flex-direction: row;
} */
/* 
 */

/* .columns {
    flex: 1;     
} */
/* 


.task-assigner:before {
    content: 'Assigner: ';
    display: inline;    
}





main {
    height: calc(100% - 50px);
    overflow-x: auto;
}

.task-table {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.columns {
    overflow-y: auto;
    overflow-x: hidden;
}



.headers,
.columns {
    display: table;
    table-layout: fixed;
}

.headers>li,
.columns>li {
    display: table-cell;
    width: 100%;
    min-width: 150px;
    overflow-x: hidden;
}

.scroll-y {
    overflow-y: auto;
}

.columns-scroll-container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
} */

.columns {
    min-height: 100%;
}

.card .task-id,
.card .task-name {
    display: inline;
}

.task-id {
    color: rgb(194, 43, 43);
}

.headers {
    border-bottom: 1px solid lightgray;
}

.headers>li,
.columns>li {
    border-right: 1px solid lightgray;
}

.headers>li:last-child,
.columns>li:last-child {
    border-right: none;
}

.tasks>li {
    margin: 12px 3px;
    border-radius: 3px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}


body {
    display: flex;
    flex-direction: column;
}

.task-table-container {
    flex-grow: 1;
    position: relative;
}

/* .task-table-container {
    
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.absolute-x-container {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
}

.absolute-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.absolute-y-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
}

.task-table {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.columns-container {
    flex-grow: 1;
    position: relative;
}

.headers, 
.columns {
    display: flex;
    flex-direction: row;
    
}

.headers>li,
.columns>li {
    flex-shrink: 0;
    flex-basis: 100px;
    flex-grow: 1;
    min-width: 150px;
}

/* .columns {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.scroll-x-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    position: relative;
}

.scroll-y-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.card {
    cursor: move;
}