
.columns {
    min-height: 100%;
}

.headers {
    border-bottom: 1px solid lightgray;
}

.headers>li,
.columns>li {
    border-right: 1px solid lightgray;
    flex-shrink: 0;
    flex-basis: 100px;
    flex-grow: 1;
    min-width: 150px;
}

.headers>li:last-child,
.columns>li:last-child {
    border-right: none;
}

.task-table-container {
    flex-grow: 1;
    position: relative;
}

.absolute-x-container {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
}

.absolute-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.absolute-y-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
}

.task-table {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.columns-container {
    flex-grow: 1;
    position: relative;
}

.headers, 
.columns {
    display: flex;
    flex-direction: row;
    
}

.scroll-x-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    position: relative;
}

.scroll-y-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}